.homepage {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(122.19deg, #c6a49a 1.89%, #c6e5d9 113.56%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  flex-wrap: nowrap;
}

.all-lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:40vw;
  padding:100px;
}

//.div-of-lists{
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//}

.add-edit-input {
  display:flex;
  position: absolute;
  top: 200px;
  outline: none;
  border: none;
  height: 30px;
  font-size: 25px;
  padding: 5px 20px;
  width: 250px;

}

.add-confirm-icon {
  position: absolute;
  transform: scale(2);
  top: 205px;
  right: 1250px;
  cursor: pointer;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.todo > h1 {
  width: 500px;
  background-color: rgb(211, 211, 211);
  padding: 5px 10px;
}

.edit-button,
.delete-button {
  cursor: pointer;
  margin-left: 10px;
}

.logout-icon {
  cursor: pointer;
  position: absolute;
  top:3px;
  right: 1px;
  padding: 20px;
  background: #e94e77;
  color: white;

}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px;

  width: 400px;
}

input{
  margin:40px;
}